/*Reset*/
BODY, DIV, DL, DT, DD, UL, OL, LI, H1, H2, H3, H4, H5, H6, PRE, FORM, FIELDSET, INPUT, TEXTAREA, P, BLOCKQUOTE, TH, TD
{
	margin: 0;
	padding: 0;
}
TABLE
{
	border-collapse: collapse;
	border-spacing: 0;
}
FIELDSET, IMG
{
	border: 0;
}
ADDRESS, CAPTION, CITE, CODE, DFN, EM, STRONG, TH, VAR
{
	font-style: normal;
	font-weight: normal;
}
OL, UL
{
	list-style: none;
}
/*debug*/
#footer
{
	background-color: #0F0;
}
/*total width: 965;
positioning*/
#container
{
	margin: 0 auto;
	width: 965px;
}
#header
{
	width: 965px;
	height: 215px;
	position: relative;
}
#content
{
	width: 640px;
	float: left;
}
#sidebar
{
	width: 265px;
	float: left;
}
#footer
{
	width: 965px;
	float: left;
	clear: both;
}
#searchbox
{
	float: right;
	top: 25px;
	right: 0px;
	position: relative;
	margin-right: 35px;
	width: 115px;
}
#searchbox INPUT
{
	width: 115px;
	font: bold 1em "courier new", courier, "Andale Mono", monospace;
	letter-spacing: -0.6px;
	text-align: center;
	outline: none;
}
#subscribe
{
	top: 60px;
	position: absolute;
	right: 25px;
	width: 41px;
}
#quicklinks A
{
	color: #0B4F74;
}
#quicklinks
{
	top: 150px;
	position: absolute;
	font: bold 1.2em "courier new", courier, "Andale Mono", monospace;
}
#quicklinks LI
{
	float: left;
	margin: 0 0 0 30px;
}
#content
{
	padding: 30px 30px 0;
}
#sidebar
{
	padding: 30px 0 0;
}
#logo-overlay
{
	position: absolute;
	width: 290px;
	display: block;
	height: 40px;
	top: 65px;
	left: 325px;
	text-decoration: none;
}
.section-content
{
	padding: 10px 0 0 5px;
}
.about-section IMG
{
	float: left;
}
/*element styles*/
BODY
{
	font: normal 1em Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	background: #FBF9F7 url(../img/logo.jpg) no-repeat center top;
}
A
{
	color: #3C7B9D;
	text-decoration: none;
}
A *
{
	cursor: hand;
}
A:hover
{
	text-decoration: underline;
}
A:hover *
{
	text-decoration: underline;
}
DIV.entry
{
	clear: both;
	padding-bottom: 30px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ABD1E6;
}
.entry H1
{
	font: normal 2.1em Georgia, "Times New Roman", Times, serif;
	color: #3C7B9D;
}
.entry A:hover H1
{
	text-decoration: underline;
}
.entry-body UL
{
	list-style-type: disc;
	margin: 10px 0px 0px 10px;
	padding-left: 40px;
}
.entry-body OL
{
	list-style-type: decimal;
	margin: 10px 0px 0px 10px;
	padding-left: 40px;
}
.entry-body BLOCKQUOTE
{
	background: url(../img/quote.jpg) no-repeat top left;
	padding: 0px 10px 0 40px;
	font-style: italic;
	color: #468;
}
.entry-body
{
	line-height: 1.5em;
	text-align: justify;
}
.entry-body H2
{
	font: bold 1.5em Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.entry-body H3
{
	font: bold 1.1em Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #74A3BD;
}
.entry-body P
{
	margin: 10px 0 15px;
}
.entry-body PRE CODE
{
	font: 1em Consolas, Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	/*[empty]background-color:;*/
}
.entry-date
{
	float: right;
}
UL.post-tags
{
	list-style: none;
	padding: 0px;
}
.post-tags LI
{
	float: left;
	padding: 0 15px 0 25px;
	font-weight: bold;
	font-size: 0.7em;
	text-transform: uppercase;
	background: url(../img/tag.png) no-repeat top left;
}
.section
{
	margin: 0 0 20px;
}
.section LI
{
	margin-bottom: 5px;
}
.section H2
{
	font: 1.45em Tahoma;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	padding: 5px 0 3px;
	color: #6ABEEA;
	width: 100%;
	background: url(../img/dotline.png) repeat-x bottom left;
}
.comment-box
{
	padding: 20px 5px;
	clear: both;
	width: 630px;
}
.hline
{
	background: url(../img/dotline.png) repeat-x center center;
	width: 100%;
	height: 2px;
}
.comment-box IMG
{
	border: 1px solid #D8D8D8;
	height: 50px;
	width: 50px;
	display: block;
	padding: 4px;
	float: left;
}
.user-info-name
{
	display: block;
	width: 200px;
	font: bold 0.85em "courier new", courier, "Andale Mono", monospace;
	text-transform: uppercase;
	float: left;
	padding-left: 10px;
}
A SPAN.user-info-name
{
	color: #50A7D2;
}
.user-info-date
{
	width: 200px;
	text-align: right;
	float: right;
	text-transform: uppercase;
	font: bold 0.85em "courier new", courier, "Andale Mono", monospace;
}
.comment-text
{
	width: 560px;
	margin: 0px 0 0 70px;
	padding-top: 20px;
	text-align: justify;
	min-height: 50px;
	height: auto !important;
	height: 50px;
}
.comment-text P
{
	margin-bottom: 0.6em;
}
.button
{
	display: block;
	text-transform: uppercase;
	font: 0.85em Tahoma;
	color: #6ABEEA;
	background: #FAF8F6;
	padding: 3px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #6ABEEA;
	cursor: pointer;
}
.button:hover
{
	border: 2px solid #FBA627;
	text-decoration: none;
	color: #FBA627;
}
.dataform
{
	text-transform: uppercase;
}
.dataform INPUT, .dataform TEXTAREA
{
	float: left;
	width: 600px;
	border: 2px solid #D6D6D6;
	background-color: #F6F6F6;
	padding: 5px 10px;
	font: 1em corbel;
	vertical-align: middle;
	clear: both;
}
.dataform INPUT:focus, .dataform TEXTAREA:focus
{
	background-color: #FFFFFF;
	border: 2px solid #337F9D;
}
.dataform INPUT
{
	padding-left: 30px;
	height: 1.2em;
	width: 580px;
}
.dataform TEXTAREA
{
	overflow: auto;
}
.dataform FIELDSET
{
	padding: 0 10px;
}
.dataform P
{
	padding: 15px 0 5px;
	float: left;
	font: bold 0.85em "courier new", courier, "Andale Mono", monospace;
	color: #9BB3C9;
	clear: both;
}
.dataform BUTTON
{
	margin-top: 15px;
	text-align: center;
	width: 100px;
}
.comment-name
{
	background-image: url(../img/form-ico.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0px 0px;
}
.comment-email
{
	background: url(../img/form-ico.gif) no-repeat scroll 0px -30px;
}
.comment-web
{
	background: url(../img/form-ico.gif) no-repeat scroll 0px -60px;
}
.comment-count
{
	float: right;
	font: bold 0.7em verdana, "Lucida Grande", sans-serif;
	height: 20px;
	padding-top: 5px;
}
/*classes*/
.transparent
{
	background: transparent;
	border: none;
}
SPAN.required
{
	color: #FF0000;
	padding-left: 3px;
}
.invisible
{
	left: -1000px;
}
.clear
{
	display: block;
	width: 100px;
	clear: both;
	float: left;
	background: #BF0707;
	height: 10px;
}
.float-right
{
	float: right;
}
LABEL.error
{
	color: #FF0000;
	float: right;
	font-family: "courier new", courier, "Andale Mono", monospace;
	font-size: 0.7em;
	position: relative;
	padding: 2px;
	font-weight: bold;
	letter-spacing: 1px;
}
.search-input
{
	color: #656565;
}
.watermark-on
{
	color: #8E9399;
}
.highlight
{
	background-color: #FBFED6;
}
